{% extends 'base.html' %}

{% block metatwitter %}
  {# Configuración de Twitter Cards #}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{TWITTERSITE}}">
  <meta name="twitter:creator" content="{{TWITTERCREATOR}}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:title" content="{{ article.title|striptags }}">
  <meta name="twitter:description" content="{{ article.content|striptags|truncate(150, True) }}">
{% endblock metatwitter %}

{% block metafacebook %}
  {# OpenGraph de Facebook #}
  <meta property="og:site_name" content="{{SITENAME}} - {{DESCRIPCION}}">
  <meta property="og:locale" content="es_LA">
  <meta property="fb:app_id" content="">
  <meta property="og:type" content="article">
  <meta property="fb:admins" content="{{ FACEBOOKADMIN }}">
  <meta property="og:title" content="{{ article.title|striptags }}">
  <meta property="og:description" content="{{ article.content|striptags|truncate(150, True) }}">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% endblock metafacebook %}

{% block meta_header %}
  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}
{% endblock meta_header %}

{% block content %}
<main id="content" class="container" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog" >
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="{{post_class}}" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <h1 class="post-title text-center" role="heading" itemprop="headline">
          {{article.title}}
        </h1>
        <div class="post-meta text-center">
          <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished"><i class="icon-time"></i> {{ article.date|strftime('%B %d de %Y')}}</time> 
          {% if article.tags %}
            &bull; 
            <span class="tags">Etiquetado como: 
              {% for t in article.tags %}
                <a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>
              {% endfor %}     
            </span>
          {% endif %}
        </div>
        <div class="post-content" itemprop="articleBody">
          {{ article.content }}
        </div>
        <footer class="post-footer">
          <div id="ost-post-share" class="text-left">
            <h5>Comparte este artículo</h5>
            <div class="pull-right">
            <a href="http://twitter.com/share?text={{article.title|urlencode()}}&url={{article.url}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235'); return false;" target="_blank">
              <i class="fa fa-twitter-square fa-2x"><span class="sr-only">Share on Twitter</span></i>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" target="_blank">
              <i class="fa fa-facebook-square fa-2x"><span class="sr-only">Share on Facebook</span></i>
            </a>
            <a href="https://plus.google.com/share?url={{article.url}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530'); return false;" target="_blank">
              <i class="fa fa-google-plus-square fa-2x"><span class="sr-only">Share on GooglePlus</span></i>
            </a>
            </div>
          </div>

          {# Caja de Autor #}
          <div class="clearfix" id="ost-post-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
            <h3 class="sr-only">Autor</h3>
            <img src="{{ SITEURL }}/{{THEME_STATIC_DIR}}/img/ff2.jpg" class="author-avatar" alt="{{ article.author }}">
            <div class="author-details">
              <h4 itemprop="name">{{ article.author }}</h4>
              <p>
                He trabajado en departamentos de IT los últimos 10 años. Tengo experiencia en servidores basados en Linux, programación en Python, PHP, HTML, CSS. Mi experiencia me permite ofrecerles un amplio portafolios de servicios de administración de tecnologías de información que garanticen la operación continua de sus sitios web con un desempeño óptimo.
              </p>
              <p>
                <a href="http://soa.uno" rel="author" itemprop="url">Visita SOA.1</a>
              </p>
            </div>
          </div>
        </footer>
      </article>
    </div>
  </div>
</main>
{% endblock content %}